{% extends "buses/admin_base.html" %}
{% block content %}
<div class="col-md-4 col-xl-3" style="margin-top:60px;margin-left:38%">
    <div class="card mb-4"style="width:18rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-8" >
                    <h2 class="card-title">{{object.username}}</h2>
                    <h5 class="text-secondary">Email: {{object.email}}</h5>
                    <h5 class="text-secondary">First Name: {{object.first_name}}</h5>
                    <h5 class="text-secondary">Last Name: {{object.last_name}}</h5>
                    <a class="btn btn-dark mt-2" href='{% url 'user-update' user.id %}' style="margin-right: 10px;">Edit</a>
                    <a class="btn btn-danger mt-2" href='{% url 'user-delete' user.id %}' style="margin-right: 10px;">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}